<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-logo">  
    <img src = "/images/dendrites.jpg"></img>  
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <!-- <p>
      After a recent Ph.D. and post-doc in academic Neuroscience, I am transitioning into the world of data science. This blog will sparsely document my exploration of analytics, statistics, and machine learning with Julia and Python 
    </p> -->
    <p class="social-icons">
      <a href="https://github.com/aflyax"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://twitter.com/aflyax"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.linkedin.com/pub/alexander-flyax"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="/resume.pdf"><i class="fa fa-file-pdf-o fa-2x"></i></a>
      <a href="mailto:aflyax@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>     
      <!-- <a href="https://plus.google.com/107712815082559800507?rel=author"><i class="fa fa-plus fa-2x"></i></a> -->
      <a href="/feed.xml"><i class="fa fa-rss fa-2x"></i></a>
    </p><p>⊗ {{ site.time | date: '%Y' }}. לה"ו <br>sharing information is legal</p>
    <!-- </p> -->
  </div>
</div>
