.pl-s3 { color:orange }
.hll { background-color: #ffffcc }
.c { color: #75715e; font-style: italic } /* Comment */
.err { color: #1C5A99; } /* Error background-color: #e3d2d2 */
.k { color: #951C55; font-weight: normal } /* Keyword */
.o { color: #A71D80; font-weight: normal } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000 } /* Generic.Inserted */ /* background-color: #ddffdd */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #007500; font-weight: bold } /* Keyword.Constant */
.kd { color: #007500; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007500; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007500; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #007500; font-weight: bold } /* Keyword.Reserved */
.kt { color: #007500; font-weight: normal } /* Keyword.Type */
.m { color: #1C5A99 } /* Literal.Number */
.s { color: #DF5000 } /* Literal.String */
.na { color: #007500 } /* Name.Attribute */
.nb { color: #007500 } /* Name.Builtin */
.nc { color: #445588; font-weight: normal } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #D26911; font-weight: bold } /* Name.Decorator */
.ni { color: orange } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #795DB7; font-weight: normal } /* Name.Function */
.nl { color: orange; font-weight: bold } /* Name.Label */
.nn { color: #007500 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #007500 } /* Name.Variable */
.ow { color: #A71D80; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #1C5A99 } /* Literal.Number.Float */
.mh { color: #1C5A99 } /* Literal.Number.Hex */
.mi { color: #1C5A99 } /* Literal.Number.Integer */
.mo { color: #1C5A99 } /* Literal.Number.Oct */
.sb { color: #CF4A00 } /* Literal.String.Backtick */
.sc { color: #CF4A00 } /* Literal.String.Char */
.sd { color: #CF4A00 } /* Literal.String.Doc */
.s2 { color: #CF4A00 } /* Literal.String.Double */
.se { color: #CF4A00 } /* Literal.String.Escape */
.sh { color: #CF4A00 } /* Literal.String.Heredoc */
.si { color: #CF4A00 } /* Literal.String.Interpol */
.sx { color: #CF4A00 } /* Literal.String.Other */
.sr { color: #DF5000 } /* Literal.String.Regex */
.s1 { color: #CF4A00 } /* Literal.String.Single */
.ss { color: #CF4A00 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #007500 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #007500 } /* Name.Variable.Instance */
.il { color: #1C5A99 } /* Literal.Number.Integer.Long */
/*.highlight pre { white-space: pre; overflow: auto; }*/
